<div class="signupForm"> sign up!
    <form action="/auth/signup" method="POST">
        <div class="usernameSection">
            <label for="username">@ | </label>
            <input class="username" type="text" name="name">
        </div>
        <div class="emailSection">
            <label for="email">email | </label>
            <input class="email" type="email" name="email">
        </div>
        <div class="passwordSection">
            <label for="password">password | </label>
            <input class="password" type="password" name="password">
        </div>
        <div class="signupButton">
            <button type="submit">submit</button>
        </div>
    </form>
</div>