<% if (alerts.error) { %>
    <% alerts.error.forEach(msg =>{ %>
      <div class="errorMessage">
        <strong><%= msg %></strong>
        <button type="button">
          <span>&times;</span>
        </button>
      </div>
   <% }) %>
<% } %>

<% if (alerts.success) { %>
    <% alerts.success.forEach(msg =>{ %>

        <div class="successMessage">
            <strong><%= msg %></strong>
            <button type="button">
              <span>&times;</span>
            </button>
          </div>
   <% }) %>
<% } %>