<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gamebook</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('partials/alerts') %>
    <div>
        <div class="layoutHeader">
            <h1 id="gamebook"><a href="/">gamebook</a></h1>
            <p>read | chat | chill</p>
        </div>

        <div id="authLinks">
        <% if(!currentUser){ %>
        <p><a href="/auth/signup">sign-up</a> | <a href="/auth/signin">sign-in</a></p>
        <% } else { %>
        <p><a href="/auth/profile">profile</a> | <a href="/auth/logout">log-out</a></p>
        </div>
    </div>
        <% } %>
    <hr>
    <%- body %>
</body>

</html>