<div class="indexSearch">
    <div class="welcomeText">welcome to gamebook</div>
    
    <div class="searchForm">
        <form action="/home" method="GET">
        <input name="search" type="text">
    </div>
    <div class="searchButton">
        <button type="submit" id="searchButton">search</button>
    </div>
    </form>
</div>