<div class="resultsPage">
    <% for(let i=0; i < 10; i++){ %>
    <p>
        <div class="resultTitle">
        <%=data.results[i].name %><br/>
            <% for(let j=0; j < data.results[i].platforms.length; j++){ %>
                <%=data.results[i].platforms[j].platform.name%>
                     <% } %>
        </div>
    </p>

    <div class="resultImageBox">
    <form action="/home/search" method="get">
        <input type="hidden" name="id" value="<%=data.results[i].slug%>">
        <a href="/home/search">
        <input id="resultImage" type="image" name="submit" src="<%=data.results[i].background_image%>">
        </a>
    </form>
</div>
    <% } %>
</div>