<h1 class="errorHeader">Error 404!</h1>
<video class="errorVid" width="100%" height="100%" controls autoplay loop>
    <source src="../../middleware/erro.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
  </video>